.Weather {
    border: 1px solid #dadde1;
    border-radius: 4px;
    color: #878787;
    padding: 16px;
    margin: 30px auto;
  }
  .Weather form {
    margin-bottom: 20px;
  }
  
  .Weather h1 {
    font-size: 24px;
    line-height: 29px;
    margin: 20px 0 0 0;
  }
  
  .Weather ul {
    margin: 0;
    padding: 0;
  }
  
  .Weather li {
    font-size: 16px;
    line-height: 19px;
    list-style: none;
  }
  
  .Weather img {
    height: 64px;
    width: 64px;
    margin-right: 10px;
  }
  
  .Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
  }
  
  .Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -32px;
    margin-left: 5px;
  }

    .col-9 {
        flex: 0 0 auto;
        width: 75%;
    }

  input.btn.btn-primary.w-100{
    background: rgb(66, 66, 207);
    padding: 12px 24px;
    display: flex;

  }
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1);
}